<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css">
	</head>
	<body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>CRUD</h1>        
                </div>
            </div>
            <div class="row" id="crud">
			</div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document" id="modalViewport">
          </div>
        </div>
        
	</body>
	<script src="/bower_components/jquery/dist/jquery.min.js"></script>
	<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/bower_components/react/JSXTransformer.js"></script>
	<script src="/bower_components/react/react.js"></script>
	<script src="/src/js/crud.create.component.js" type="text/jsx"></script>
    <script src="/src/js/crud.update.component.js" type="text/jsx"></script>
    <script src="/src/js/crud.delete.component.js" type="text/jsx"></script>
    <script src="/src/js/crud.table.component.js" type="text/jsx"></script>
	<script src="/src/js/app.js" type="text/jsx"></script>
</html>